<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yucheng.byxf.mini.ui"
    android:versionCode="117"
    android:versionName="1.17" >

    <!-- 2015 4 21 ->1.15 -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <!-- 添加新窗口 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 推送 -->
    <permission
        android:name="com.yucheng.byxf.mini.ui.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.yucheng.byxf.mini.ui.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>  
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 推送 -->
    
    <application
        android:name="com.yucheng.byxf.mini.map.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/my_ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="8pG4g0j8UsFLjvQE6vG8lXcN" />
        <!-- 测试 -->
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- home页 -->
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask" />
        <!-- 轻松付与轻松贷的基本信息 -->
        <activity android:name=".MiniRecordEssentialInfoEasyActivity" />
        <!-- Mini循环消费贷风险提示 -->
        <activity android:name=".MiniRiskPromptLoanActivity" />
        <!-- Mini循环消费贷证件扫描 -->
        <activity android:name=".MiniCardScanningActivity" />
        <!-- Mini循环消费贷基本信息1 -->
        <activity android:name=".MiniWorkInfoActivity1" />
        <!-- Mini循环消费贷职业信息2 -->
        <activity
            android:name=".MiniWorkInfoActivity2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- Mini循环消费贷账单及自动扣款信息 -->
        <activity
            android:name=".MiniAutoPayActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- Mini循环消费贷证件拍摄 -->
        <activity
            android:name=".MiniPaperPhotoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- Mini卡面选择 -->
        <activity
            android:name=".MiniCardSelectActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- Mini循环消费贷信息确认 -->
        <activity
            android:name=".MiniConfirmInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- Mini循环消费贷图片预览 -->
        <activity
            android:name=".PreviewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 贷款小常识 -->
        <activity android:name=".CommonActivity" />
        <!-- 关于我们 -->
        <activity android:name=".AboutUsActivity" />
        <!-- 个人设置 -->
        <activity
            android:name=".MessageActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 一般消费贷 -->
        <activity
            android:name=".GeneralConsumeLoanActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 申请进度查询 -->
        <activity android:name=".ApplicationScheduleQueryActivity" />
        <!-- 申请进度查询 -->
        <activity android:name=".ApplicationScheduleQueryEloanActivity" />
        <activity android:name=".ConfirmContractBook" />
        <!-- 公司介绍 -->
        <activity android:name=".CompanyIntroduceActivity" />
        <!-- 产品介绍 -->
        <activity android:name=".ProductIntroduceActivity" />
        <!-- 产品说明 -->
        <activity android:name=".ProductIntroduceELoanActivity" />
        <!-- 关爱 -->
        <activity android:name=".ConcernOfLoveActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 登录页 -->
        <activity
            android:name=".MyLoginActivity"
            android:launchMode="singleTask" />
        <!-- 导航页 -->
        <activity android:name=".GuideViewActivity" />
        <!-- 注册页 -->
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".VertifyActivity" />
        <!-- 账单选择页 -->
        <activity android:name=".BillNewActivity" />
        <!-- Mini账单页 -->
        <activity android:name=".BillActivity" />
        <!-- Mini账单詳情页 -->
        <activity android:name=".BillActivityDetails" />
        <!-- 轻松贷账单页 -->
        <activity android:name=".RelaxLoanBillActivity" />
        <!-- 轻松贷款详情页 -->
        <activity android:name=".RelaxLoanBillParticularActivity" />
        <!-- 申请进度查询页 -->
        <activity android:name=".ApplicationScheduleQueryHomeActivity" />
        <!-- 申请进度非手机申请页 -->
        <activity android:name=".ApplicationScheduleQueryNoPhoneActivity" />
        <!-- 申请进度ACTV申请页 -->
        <activity android:name=".ApplicationScheduleQueryACTVActivity" />
        <!-- Mini卡激活 -->
        <activity android:name=".MiniCardActivateActivity" />
        <!-- 轻松贷风险提示 -->
        <activity android:name="com.yucheng.byxf.mini.easyloan.ui.RelaxedLoanOneContractBook" />
        <!-- 轻松贷卡片信息 -->
        <activity android:name="com.yucheng.byxf.mini.easyloan.ui.RelaxedLoanTwoIdentityInfo" />
        <!-- 轻松贷基本信息 -->
        <activity android:name="com.yucheng.byxf.mini.easyloan.ui.RelaxedLoanThreeBasicInfo" />
        <!-- 轻松贷职业信息 -->
        <activity android:name="com.yucheng.byxf.mini.easyloan.ui.RelaxedLoanFourProfessionInfo" />
        <!-- 轻松贷资产信息 -->
        <activity android:name="com.yucheng.byxf.mini.easyloan.ui.RelaxedLoanFiveAssertDebt" />
        <!-- 轻松贷申请信息 -->
        <activity android:name="com.yucheng.byxf.mini.easyloan.ui.RelaxedLoanSixApplyLoanInfo" />
        <!-- 轻松贷联系人信息 -->
        <activity android:name="com.yucheng.byxf.mini.easyloan.ui.RelaxedLoanSevenContactInfo" />
        <!-- 轻松贷拍照信息 -->
        <activity android:name="com.yucheng.byxf.mini.easyloan.ui.RelaxedLoanEightCertificateInfo" />
        <!-- 轻松贷提交 -->
        <activity android:name="com.yucheng.byxf.mini.easyloan.ui.RelaxedLoanNineCommitInfo" />
        <activity
            android:name="com.yucheng.byxf.mini.easyloan.ui.ShowPicture"
            android:theme="@style/myDialog" />
        <activity
            android:name="com.yucheng.byxf.mini.map.OverlayMapActivity"
            android:hardwareAccelerated="false" />
        <activity
            android:name="com.yucheng.byxf.mini.map.MapListActivity"
            android:hardwareAccelerated="false" />
        <!-- 急速贷 合约书页面 -->
        <activity android:name="com.yucheng.byxf.mini.rapidly.RepidlyLoanInfoContractBook" />
        <!-- Map导航页1 -->
        <activity android:name="com.yucheng.byxf.mini.map.MapRouteResultNewActivity" />
        <!-- Map导航页2 -->
        <activity android:name="com.yucheng.byxf.mini.map.RoutePlanNewActivity" />
        <activity android:name=".menuYouHuiActivity" />
        <!-- 宣传页 -->
        <activity android:name=".AdEloanActivity" />
        <!--
        <receiver android:name="com.yucheng.byxf.mini.ui.BaseActivity$NetBroadCastReciver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />  
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name="com.yucheng.byxf.mini.rapidly.RapidlyLoanInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yucheng.byxf.mini.rapidly.RapidlyLoanInfo1Activity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yucheng.byxf.mini.rapidly.TranscribeVideoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yucheng.byxf.mini.rapidly.RapidlyLoanInfoConfrim"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ForgetPassWordActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ForgetPassWord1Activity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ForgetPassWord2Activity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 提前还款 home页 -->
        <activity android:name=".AdvanceRepayment" />
        <!-- 提前还款 申请页 -->
        <activity android:name=".AdvanceRepayment3" />
        <!-- 提前还款 提交页 -->
        <activity android:name=".AdvanceRepayment4" />
        <!-- 提前还款 還款1页 -->
        <activity android:name=".AdvanceRepaymentResult2" />
        <!-- 提前还款 還款2页 -->
        <activity android:name=".AdvanceRepaymentResult3" />
        <!-- MyEloanActivity -->
        <activity android:name=".MyEloanActivity" >
        </activity>
        <!-- MINI  AD -->
        <activity android:name=".MiniNewAdActivity" />
        <!-- Xiaojinyin AD -->
        <activity android:name=".XiaoJinYinAdActivity" />
        <!-- 活动 home页 -->
        <activity android:name=".RedPacketActivity" />
        <!-- 活动 分享页 -->
        <activity android:name=".RedPacket_ShareActivity" />
        <!-- 活动 使用页 -->
        <activity android:name=".RedPacketActivity2" />
        <!-- 活动 使用页 -->
        <activity android:name="com.yucheng.byxf.mini.map.ActActivity" />
        <!-- 活动公告html详情 -->
        <activity android:name="com.yucheng.byxf.mini.map.ActWebviewActivity" />
        <!-- 轻松贷广告业面 -->
        <activity android:name="com.yucheng.byxf.mini.easyloan.ui.RelaxedLoanAdActivity" />
        <!-- 意見反饋模塊 -->
        <activity
            android:name=".SuggestionActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 意見反饋模塊2 -->
        <activity
            android:name=".SuggestionActivity2"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- share -->
        <activity android:name=".ShareActivity" />
        <activity
            android:name=".ShareActivity2"
            android:theme="@android:style/Theme.Translucent" />
        <!-- 极速贷tips -->
        <activity android:name="com.yucheng.byxf.mini.rapidly.RepidlyLoanInfoTips" />
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!--
				如果集成QQ分享，或者使用QQ客户端来进行QQ空间的
				分享，须要在此处添加一个对ACTION_VIEW事件的过滤器，
				其中的scheme是“tencent”前缀再开发者应用的加上appId。
				如果此过滤器不设置，则分享结束以后不能得到正确的回调
            -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yucheng.apfx.soc.ShareUI"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service android:name="com.yucheng.byxf.mini.service.UpdateService" >
        </service>

        <!-- 添加activity注册 -->
        <!-- BillHomeActivity -->
        <activity android:name=".BillHomeActivity" />
        <!-- menuShare -->
        <activity android:name=".MenuShareActivity" />
        <!-- mini主页 -->
        <activity android:name=".MiniCardMainActivity" />
        <!-- miniApple主页 -->
        <activity android:name=".MiniCardApplyActivity" />
        <!-- miniBill主页 -->
        <activity android:name=".MiniCardBillActivity" />
        <!-- mini循环消费贷账单 -->
        <activity android:name=".MiniConsumeProvideBillActivity" />
        <!-- mini循环消费贷账单详情 -->
        <activity android:name=".BillDetailsActivity" />
        <!-- BaseActivity -->
        <activity android:name=".BaseActivity" />
        <!-- lockMenuActivoty -->
        <activity
            android:name="com.wujay.fund.ui.LockMenuActivoty"
            android:launchMode="singleTask" />
        <!-- GestureEditActivity -->
        <activity
            android:name="com.wujay.fund.ui.GestureEditActivity"
            android:launchMode="singleTask" />

        <!-- GestureVerifyActivity -->
        <activity
            android:name="com.wujay.fund.ui.GestureVerifyActivity"
            android:launchMode="singleTask" />
        <!-- PassLoginActivoty -->
        <activity android:name="com.wujay.fund.ui.PassLoginActivoty" />
        <!-- Mini循环消费贷 Activity首页 -->
        <activity
            android:name="com.yucheng.byxf.mini.miniLoan.MiniLoanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.yucheng.byxf.mini.miniLoan.MiniVideoActivity" />

        <!-- XiaoJinYingMenuActivity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingMenuActivity" />

        <!-- XiaoJinYingAdActivity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingAdActivity" />

        <!-- XiaoJinYingCancelAccountActivity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingCancelAccountActivity" />
        <!-- XiaoJinYingQingKuanApplyActivity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingQingKuanApplyActivity" />
        <!-- XiaoJinYingQueryActivity -->
        <activity
            android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingQueryActivity"
            android:launchMode="singleTask" />
        <!-- XiaoJinYingHuanKuanApplyActivity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingHuanKuanApplyActivity" />
        <!-- XiaoJinYingContactsActivity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingContactsActivity" />
        <!-- wz0618 -->
        <!-- XiaoJinYingQuery1Activity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingQuery1Activity" />
        <!-- XiaoJinYingQuery2Activity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingQuery2Activity" />
        <!-- XiaoJinYingQuery3Activity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingQuery3Activity" />
        <!-- XiaoJinYingAlterQueryKeyActivity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingAlterQueryKeyActivity" />
        <!-- XiaoJinYingSetQueryKeyActivity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingSetQueryKeyActivity" />

        <!-- XiaoJinYingChangeOtherInfoActivity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingChangeOtherInfoActivity" />
        <!-- XiaoJinYingChangeBankCardActivity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingChangeBankCardActivity" />

        <!-- XiaoJinYingChangeOtherInfoActivity_1 -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingChangeOtherInfoActivity_1" />
        <!-- XiaoJinYingChangeOtherInfoActivity_2 -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingChangeOtherInfoActivity_2" />
        <!-- XiaoJinYingChangeOtherInfoActivity_3 -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingChangeOtherInfoActivity_3" />

        <!-- XiaoJinYingNewContactsActivity -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingNewContactsActivity" />

        <!-- XiaoJinYingJIHuoActivity -->

        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingJIHuoActivity" />

        <!-- XiaoJinYingChangeOtherInfoActivity_1_phoneNumInfo -->

        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingChangeOtherInfoActivity_1_phoneNumInfo" />

        <!-- XiaoJinYingZhangDanActivity -->

        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingZhangDanActivity" />
        <!-- 查询页面2 -->
        <activity android:name="com.yucheng.byxf.mini.xiaojinying.XiaoJinYingZhangDanActivity2" />
        <!-- 请将value改为MTA分配的appkey < -->
        <meta-data
            android:name="TA_APPKEY"
            android:value="AS57M99VUZUM" />
        <meta-data
            android:name="InstallChannel"
            android:value="dizhi" />

        <activity android:name=".MiniConsumeProvideBillActivity1" />
        <activity android:name=".MyMessageActivity" />

        <!-- 推送TEST -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.yucheng.byxf.mini.ui" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
 <!-- Required  显示通知栏 -->
                <category android:name="com.yucheng.byxf.mini.ui" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="com.yucheng.byxf.mini.receiver.MyReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
 <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
 <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
 <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
 <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
 <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
 <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.yucheng.byxf.mini.ui" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="b2f9020c648fd9a599ffc8b0" />
 <!-- </>值来自开发者平台取得的AppKey -->
        <!-- 推送TEST -->
    </application>
    <!-- 测试 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Testsfor_eloan"
        android:targetPackage="com.yucheng.byxf.mini.ui" />

</manifest>